
<div class="container text-center" style= "margin-top: 120px;">
  <h3 class="title">Bienvenue <%= current_user.first_name %></h3>
  <p class="description">Que veut tu faire ?</p>
</div>
<br><br><br>
<div class="container">
<div class="card-deck">
<div class="card text-center" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">User</h4>
    <p class="card-text"></p>
    <a href="<%= admin_users_path %>" class="btn btn-primary">Suite</a>
  </div>
</div>
<div class="card text-center" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Items</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
<br><br>
<div class="card-deck">
<div class="card text-center" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Orders</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card text-center" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>
<br><br><br>
