<body>

<h1 class="text-center" style="margin-top: 120px"> L'équipe </h1>



 <div class="row" style="margin-top: 140px;margin-left: 100px; ">

    <!-- Pol Erwan's card-->

    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5" style="margin-left: 20px; margin-right: 20px;" >

      <div class="avatar mx-auto">

        <img src="https://cdn.shopify.com/s/files/1/1123/3426/products/Professional-Surfer-Series-17-LEGO-Minifigure_753x.png?v=1544093427" class="rounded-circle z-depth-1" alt="Sample avatar" style="width:250px; height: 250px">
    </div>
      <h5 class="title mt-4 mb-3">Pol Erwan</h5>

      <p class="text-uppercase text-primary"><strong>Graphic designer</strong></p>

      <p class="grey-text">Le seul à avoir su dompter les branches de Github!</p>
      <a href="https://www.linkedin.com/in/pol-erwan-bm-16a534194/" class="btn btn-primary">Je veux son num!</a>
</div>

<!-- Alex's card-->

    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5" style="margin-left: 20px; margin-right: 20px;" >

      <div class="avatar mx-auto">

        <img src="http://ssaft.com/Blog/dotclear/public/Windows-Live-Writer/De-notre-relation-avec-Bob-lEponge_12613/SB-Please.png"

          alt="Sample avatar" style="width:250px; height: 250px">

      </div>

      <h5 class="title mt-4 mb-3">Alex</h5>

      <p class="text-uppercase text-primary"><strong>Web developer</strong></p>

      <p class="grey-text">C'est un 2000, on juge!!</p> </br>
      <a href="https://www.linkedin.com/in/alex-viard-29aa56177/" class="btn btn-primary">Je veux son num!</a>
</div>



<!-- Léa's card -->

	
    <div class="col-lg-2 col-md-6 mb-lg-0 mb-5" style="margin-left: 20px; margin-right: 20px;" >

      <div class="avatar mx-auto">

        <img src="https://previews.123rf.com/images/neyro2008/neyro20081604/neyro2008160400072/54596908-f%C3%A9e-de-licorne-avec-arc-en-ciel-cheval-licorne-f%C3%A9e-animal-f%C3%A9e-poney-vector-illustration.jpg" class="rounded-circle z-depth-1"

          alt="Sample avatar" style="width:250px; height: 250px">

      </div>

      <h5 class="title mt-4 mb-3">Léa</h5>

      <p class="text-uppercase text-primary"><strong>Web developer</strong></p>

      <p class="grey-text">Reine du front (surtout pour les chats)</p>
      <a href="https://www.linkedin.com/in/l%C3%A9a-bramoulle-55ba23158/" class="btn btn-primary">Je veux son num!</a>
</div>


<!-- Ludo's card -->

 <div class="col-lg-2 col-md-6 mb-lg-0 mb-5" style="margin-left: 20px; margin-right: 20px;" >

      <div class="avatar mx-auto">

        <img src="https://live.staticflickr.com/4306/35144178473_ed304b8d41_b.jpg" class="rounded-circle z-depth-1"

          alt="Sample avatar" style="width:250px; height: 250px">

      </div>

      <h5 class="title mt-4 mb-3">Ludo</h5>

      <p class="text-uppercase text-primary"><strong>Web developer</strong></p>

      <p class="grey-text">Champion toutes catégories du panier</p>
      <a href="https://www.thehackingproject.org" class="btn btn-primary">Je veux son num!</a>
</div>

<!-- Eva's card -->

 <div class="col-lg-2 col-md-6 mb-lg-0 mb-5" style="margin-left: 20px; margin-right: 20px;" >

      <div class="avatar mx-auto">

        <img src="https://m.media-amazon.com/images/I/61U9-OERLvL._SS500_.jpg"

          alt="Sample avatar" style="width:250px; height: 250px">

      </div>

      <h5 class="title mt-4 mb-3">Eva</h5>

      <p class="text-uppercase text-primary"><strong>Web developer</strong></p>

      <p class="grey-text">All I want for Christmas is youuuu</p>
  </br>
      <a href="https://www.linkedin.com/in/eva-papazian/" class="btn btn-primary">Je veux son num!</a>
</div>

</div>

</br>
</br>
</br>
</br>
</br>

</body>