<body>
<h1 class="text-center" style="margin-top: 120px"> Contactez-nous! </h1>


<div class="row" style="margin-top: 140px;margin-left: 250px; ">


<div class="col-lg-3 col-md-6 mb-lg-0 mb-5" style="margin-left: 20px; margin-right: 20px;" >
<div class="card" style="width: 20rem;">
  <img class="rounded-circle z-depth-1" src="https://previews.123rf.com/images/dacianlogan/dacianlogan1602/dacianlogan160200026/52255049-vector-mail-icon.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">La méthode ancienne</h4>
    <p class="card-text">Pour les amateurs de papier et stylos: écrivez nous à: THP Montpellier, L'Anacrouse, 5 place du petit Scel, 34000 Montpellier</p>
    <a href="https://www.google.fr/maps/place/l'Anacrouse+-+%C3%89cole+de+Musique/@43.6106022,3.8721614,17z/data=!3m1!4b1!4m5!3m4!1s0x12b6af078b20464b:0xff0f2da78acb2843!8m2!3d43.6105983!4d3.8743554" class="btn btn-primary">Viens nous voir!</a>
  </div>
</div>
</div>


<div class="col-lg-3 col-md-6 mb-lg-0 mb-5" style="margin-left: 20px; margin-right: 20px;" >
<div class="card" style="width: 20rem;">
  <img class="rounded-circle z-depth-1" src="https://previews.123rf.com/images/dacianlogan/dacianlogan1501/dacianlogan150100006/35071957-vector-email-icon.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">La méthode un peu plus moderne</h4>
    <p class="card-text">Pour les amateurs d'ordinateur et ceux qui ont peur du téléphone...</p>
</br>

    <a href="mailto:thp.mtp.best.groupe@gmail.com" subject="Demande d'informations" class="btn btn-primary">Envoie-nous un email</a>
  </div>
</div>
</div>

<div class="col-lg-3 col-md-6 mb-lg-0 mb-5" style="margin-left: 20px; margin-right: 20px;" >
<div class="card" style="width: 20rem;">
  <img class="rounded-circle z-depth-1" src="https://previews.123rf.com/images/yupiramos/yupiramos1503/yupiramos150307892/37897607-la-conception-des-m%C3%A9dias-sociaux-illustration-vectorielle-.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">La méthode ultime, spéciale Génération Z</h4>
    <p class="card-text">Suivez-nous sur nos réseaux sociaux: Facebook, Twitter, Instagram (@Katchup)</p>
    <a href="https://www.instagram.com/the_hacking_project/?hl=fr" class="btn btn-primary">Follow nous!</a>
  </div>
</div>
</div>

</div>


	<div class="container card card-body text-align-center" style="padding-bottom:40px; border-radius:20px; background-color:white; opacity:96%; margin-top:80px; margin-bottom:80px;">

	<center> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.8049735289333!2d3.87216135131642!3d43.61060216309928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6af078b20464b%3A0xff0f2da78acb2843!2sl&#39;Anacrouse%20-%20%C3%89cole%20de%20Musique!5e0!3m2!1sfr!2sfr!4v1574783023980!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe> 


	</center>

	</div>



</body>